@font-face {
  font-family: BrightbookBold;
  src: url(../fonts/Brightbook-Bold.ttf);
}

@font-face {
  font-family: Brightbookregular;
  src: url(../fonts/Brightbook-regular.ttf);
}

/*  GRID OF TWELVE   ============================================================================= */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.86%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%;
  }
  .span_11_of_12 {
    width: 100%;
  }
  .span_10_of_12 {
    width: 100%;
  }
  .span_9_of_12 {
    width: 100%;
  }
  .span_8_of_12 {
    width: 100%;
  }
  .span_7_of_12 {
    width: 100%;
  }
  .span_6_of_12 {
    width: 100%;
  }
  .span_5_of_12 {
    width: 100%;
  }
  .span_4_of_12 {
    width: 100%;
  }
  .span_3_of_12 {
    width: 100%;
  }
  .span_2_of_12 {
    width: 100%;
  }
  .span_1_of_12 {
    width: 100%;
  }
}

h1, h3, h2, p, a, li, ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #e0e0e0;
  font-family: Brightbookregular;
  font-size: 16px;
}

.red {
  color: #ff1744;
}

.grey {
  color: #757575;
}

.lightgrey {
  color: #e0e0e0;
}

.sidebar {
  background: #00C853;
  min-height: 100vh;
  height: 100%;
  float: left;
}

.sidebar img {
  width: 100%;
  padding-top: 120px;
}

.invoiceWrap {
  float: left;
  width: 93%;
}

.invoiceWrap img {
  vertical-align: middle;
  padding-right: 10px;
}

.invoiceWrap .header {
  background: #fff;
  margin: 0;
  text-align: center;
}

.invoiceWrap .header h1 {
  font-size: 3em;
  font-family: Brightbookbold;
}

.invoiceWrap .header h3 {
  color: #00C853;
  font-size: 1.3em;
  margin: 0 auto;
  font-family: Brightbookregular;
  font-weight: lighter;
}

.invoiceWrap .header ul li {
  display: inline;
  text-decoration: none;
}

.invoiceWrap .header nav {
  padding-top: 15px;
  padding-bottom: 10px;
}

.invoiceWrap .header .mainnav li {
  padding-left: 10px;
  font-family: Brightbookregular;
  color: #9e9e9e;
  font-size: 1.3em;
  font-weight: lighter;
}

.invoiceWrap .header .mainnav li:hover {
  padding-bottom: 8px;
  border-bottom: solid 3px #00C853;
  cursor: pointer;
  color: #757575;
}

.invoiceWrap .header .mainnav li > span {
  position: relative;
  top: -10px;
  color: #fff;
  font-size: 0.6em;
  background: #e0e0e0;
  padding: 3px;
  border-radius: 5px 5px 5px 5px;
}

.invoicesDashboard {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  background: #fff;
}

.invoicesDashboard .innerContent {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  max-width: 1420px;
}

.invoicesDashboard .innerContent h3:nth-child(2) {
  margin: 0 0 10px;
}

.invoicesDashboard .innerContent h3 {
  margin: 10px 0 10px;
  border-bottom: 2px solid #9e9e9e;
  line-height: 30px;
  font-size: 1em;
  color: #9e9e9e;
  font-weight: normal;
}

.invoicesDashboard .innerContent h3:before {
  content: url(../images/clock.png);
  padding-right: 7px;
  bottom: -3px;
  position: relative;
}

.invoicesDashboard .innerContent .header {
  text-align: left;
}

.invoicesDashboard .innerContent .header h2 {
  margin: 30px 0 30px;
  font-size: 2.4em;
  font-family: BrightbookBold;
}

.invoicesDashboard .innerContent .header ul {
  border-bottom: 2px solid #9e9e9e;
  padding-bottom: 10px;
}

.invoicesDashboard .innerContent .header li {
  font-family: BrightbookBold;
  line-height: 30px;
  font-size: 1.6em;
  display: table-cell;
  width: 8%;
}

.invoicesDashboard .innerContent .header li:first-child {
  width: 14%;
}

.invoicesDashboard .innerContent .header li:last-child {
  width: 6%;
}

.invoicesDashboard .innerContent .invoiceEntry {
  border-bottom: 1px solid #ccc;
  padding: 5px 0 10px;
  color: #757575;
  font-size: 16px;
}

.invoicesDashboard .innerContent .invoiceEntry .customer {
  width: 40%;
}

.invoicesDashboard .innerContent .invoiceEntry .invoice {
  width: 20%;
}

.invoicesDashboard .innerContent .invoiceEntry .due {
  width: 20%;
}

.invoicesDashboard .innerContent .invoiceEntry .owed {
  width: 20%;
  text-align: right;
  padding-right: 30px;
}

.invoicesDashboard .innerContent .invoiceEntry .data {
  width: 10%;
  font-size: 30px;
  color: #ccc;
}

.invoicesDashboard .innerContent .invoiceEntry div {
  display: table-cell;
}

.invoicesDashboard .innerContent .invoiceEntry span {
  display: block;
}

.invoicesDashboard .innerContent .invoiceEntry span:nth-child(2) {
  margin-top: 10px;
}

.invoicesDashboard .innerContent .invoiceEntry span:nth-child(3) {
  margin-top: 10px;
}

.invoicesDashboard .innerContent .invoiceEntry i {
  padding-right: 10px;
}

.invoicesDashboard h3 > span {
  font-weight: bold;
}
